<div style="display:flex, align-items: center;">
    <div class="title-portfolio mb-5"></div>

<div class="top-content">
    <div class="container">
        <div id="carousel-example" class="carousel slide" style="max-width: 996px; margin: 0 auto;">
            <div class="carousel-inner row" role="listbox">
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                    <img src= <%= asset_path ('carousel_META_PORTFOLIO_AMPLA.jpg')%> class=" d-block" alt="img1">
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <img src= <%= asset_path ('carousel_META_PORTFOLIO_DIA.jpg')%> class=" d-block" alt="img2">
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <img src= <%= asset_path ('carousel_META_PORTFOLIO_EDIM.jpg')%> class=" d-block" alt="img3">
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <img src= <%= asset_path ('carousel_Peças_Site_Metanoia_Portfolio_249x384_Prancheta_1.jpg')%> class=" d-block" alt="img4">
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <img src= <%= asset_path ('carousel_Peças_Site_Metanoia_Portfolio_249x384-02.jpg')%> class=" d-block" alt="img5">
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <img src= <%= asset_path ('carousel_Peças_Site_Metanoia_Portfolio_249x384-03.jpg')%> class=" d-block" alt="img6">
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <img src= <%= asset_path ('carousel_Peças_Site_Metanoia_Portfolio_249x384-04.jpg')%> class=" d-block" alt="img7">
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <img src= <%= asset_path ('carousel_Peças_Site_Metanoia_Portfolio_249x384-05.jpg')%> class=" d-block" alt="img8">
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <img src= <%= asset_path ('carousel_Peças_Site_Metanoia_Portfolio_249x384-06.jpg')%> class=" d-block" alt="img9">
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <img src= <%= asset_path ('carousel_Peças_Site_Metanoia_Portfolio_249x384-07.jpg')%> class=" d-block" alt="img10">
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <img src= <%= asset_path ('carousel_Peças_Site_Metanoia_Portfolio_249x384-08.jpg')%> class=" d-block" alt="img11">
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <img src= <%= asset_path ('carousel_Peças_Site_Metanoia_Portfolio_249x384-09.jpg')%> class=" d-block" alt="img12">
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <img src= <%= asset_path ('carousel_Peças_Site_Metanoia_Portfolio_249x384-10.jpg')%> class=" d-block" alt="img13">
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                    <img src= <%= asset_path ('carousel_ZOE.jpg')%> class=" d-block" alt="img14">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="footer-header">
    <div>
        <%=image_tag('title_rodape.png')%>
    </div>
</div>
<div class="footer-contacts">
    <div>
        <%=image_tag('contatos_telefone.png')%>
    </div>
    <div>
        <%=image_tag('contatos_email.png')%>
    </div>
    <div>
        <%=image_tag('contatos_localizacao.png')%>
    </div>
</div>

<%= render 'contacts/form' %>

<div class="footer-agencia">
    <div>
        <p>METANOIA AGÊNCIA DE PUBLICIDADE LTDA <BR>
        CNPJ: 37.657.107/0001-17 <br>
        <br>
        &#169; 2021</p>
    </div>
</div>
