<div class="background">
  <div class="container">
    <%= render 'navbar' %>
    <%= render 'midbar' %>
  </div>
  <div style="height:10px; background: linear-gradient(to bottom, rgba(0,0,0,0.05), rgba(0,0,0,0.4)); width:100%; top: 605px; position: absolute;"></div>
  <div style="height:10px; background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.7)); width:100%; top: 615px; position: absolute;"></div>
  <div style="height:10px; background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,1)); width:100%; top: 625px; position: absolute;"></div>
  <div style="margin-top: 100px; height:795px; background-position: center bottom; background-size: cover; background-image:url(<%= asset_path'bkg_socios'%>);">
    <div style="height:160px;"></div>
    <div class="container pl-5 pr-5">
      <%= render 'cards' %>
    </div>
  </div>
  <div style="background-color:white">
    <div class="container p-5">
      <%= render 'solucoes' %>
    </div>
  </div>
</div>

