<div class="background">
  <div class="container">
    <%= render 'navbar' %>
    <%= render 'midbar' %>
  </div>
  <div style="margin-top: 70px; height:800px; background-position: center; background-size: auto; background-repeat: no-repeat; background-image:url(<%= asset_path'bkg_socios'%>);">
    <div style="height:140px;"></div>
    <div class="container">
      <%= render 'cards' %>
    </div>
  </div>
  <div style="background-color:white; height:560px;">
    <div style="height:146px; padding-top:40px; background-repeat: no-repeat; background-size: auto; background-position: center; background-image:url(<%= asset_path'title_solucoes'%>);"></div>
    <div class="container">
      <%= render 'solucoes' %>
    </div>
    <div></div>
  </div>
</div>
