<div id="background" class="original"></div>
  <div class="container">
    <%= render 'navbar' %>
    <%= render 'midbar' %>
  </div>
  <div style="margin-top: 70px; height:800px; background-position: center; background-size: auto; background-repeat: no-repeat; background-image:url(<%= asset_path'background_socios'%>);">
    <div style="height:140px;"></div>
    <div class="container">
      <%= render 'cards' %>
    </div>
  </div>
  <div style="background-color:white; height:560px;">
    <div style="height:146px; padding-top:40px; background-repeat: no-repeat; background-size: auto; background-position: center; background-image:url(<%= asset_path'title_solucoes'%>);"></div>
    <div class="container">
      <%= render 'solucoes' %>
    </div>
    <div style="background-color: #f1bb04; height:153px; margin-top:40px; padding: 20px 0 20px 0; width: 100%; display:flex; align-items: flex-end; justify-content: space-evenly;">
      <div id="icon-publicidade" style="position: relative; cursor:pointer; height: 113px; background-repeat: no-repeat; background-size: auto; background-position: center;"><%= image_tag("icons_solucoes_1.png") %> <div id="box-publicidade" style="position: absolute; top:-245px; left:-30px;"><%= image_tag("solucao_publicidade_e_propaganda.png") %></div> </div>
      <div id="icon-gerenciamento" style="position: relative; cursor:pointer; height: 113px; background-repeat: no-repeat; background-size: auto; background-position: center;"><%= image_tag("icons_solucoes_2.png") %> <div id="box-gerenciamento" style="position: absolute; top:-245px; left:-30px;"><%= image_tag("solucao_gerenciamento_de_redes_sociais.png") %></div> </div>
      <div id="icon-inteligencia" style="position: relative; cursor:pointer; height: 113px; background-repeat: no-repeat; background-size: auto; background-position: center;"><%= image_tag("icons_solucoes_3.png") %> <div id="box-inteligencia" style="position: absolute; top:-245px; left:-30px;"><%= image_tag("solucao_inteligencia_de_mercado.png") %></div> </div>
      <div id="icon-estrategia" style="position: relative; cursor:pointer; height: 113px; background-repeat: no-repeat; background-size: auto; background-position: center;"><%= image_tag("icons_solucoes_4.png") %> <div id="box-estrategia" style="position: absolute; top:-245px; left:-30px;"><%= image_tag("solucao_estrategia_politica.png") %></div> </div>
      <div id="icon-assessoria" style="position: relative; cursor:pointer; height: 113px; background-repeat: no-repeat; background-size: auto; background-position: center;"><%= image_tag("icons_solucoes_5.png") %> <div id="box-assessoria" style="position: absolute; top:-245px; left:-30px;"><%= image_tag("solucao_assessoria_e_consultoria.png") %></div> </div>
    </div>
  </div>

